body {
    background-color: black;
}

.start-now {
    margin-right: 15px;
    margin-top: 15px;
}

.logo {
    size: 50%;
}


.logopic {
    width: 100%;
    position: relative;
    z-index: -1
}

#fadeup {
    color: white;
    position: relative;
    z-index: 1;
}

.page-footer {
    background-color: black;
    margin-top: 10%;
}

#searchicon {
    margin-right: 15px;
}

