body {
    background-color: black;
    background-image: URL("../images/workout3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

.main-div {
    background-color: rgba(255, 255, 255, 0.925);
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 10px;
}

.regtext {
    color:white;
}